@font-face {
    font-family: "SFUIDisplay";
    font-style: bold;
    font-weight: 800;
    src: url('../fonts/SFUIDisplay-Bold.woff') format(woff);
      
}
@font-face {
    font-family: "NewYorkExtra";
    font-style: bold;
    font-weight: 800;
    src: url('../fonts/NewYorkExtraLargeBold.otf') format(opentype);
}

